* {
    margin: 0;
    padding: 0;
}

/* header section */

header>nav {
    background-image: url('resources/Banner-Image.png');
    height: 600px;
    width: 1320px;
    background-repeat: no-repeat;
    margin: 50px auto;
    position: relative;
}

.header-title {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    height: 600px;
    width: 1320px;
}

.header-content {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.header-content>h3 {
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}

.header-content>h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 1000px;
    /* line-height: 95px; */
    width: 632px;
    margin-top: 16px;
}

/* section discount */
.discount-container {
    margin-top: 120px;
}

.discount-content h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-content h4 {
    margin-top: 0;
    margin-bottom: 16px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.discount-content h2 {
    margin-top: 0;
    margin-bottom: 48px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.discount-img {
    width: 802.9px;
    height: 500px;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin:  auto;
}

